* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;

    &--contact {
        background-color: #101010;
        margin-bottom: 0;
    }

}

img {
    width: 100%;
}